<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="<%= csrfToken %>">
    <meta name="sportId" content="<%=sportId%>">
    <meta name="playerId" content="<%players.id%>">
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="./css/styles.css" rel="stylesheet">
    <script>
        var token = document.querySelector('meta[name="csrf-token"]').getAttribute("content");
        var sportId = document.querySelector('meta[name="sportId"]').getAttribute("content")
        var sessionId = document.querySelector('meta[name="sessionId"]').getAttribute("content")
        function deleteSession(id) {
            fetch(`/deleteSession/${id}`, {
                method: "delete",
                headers: { "Content-Type": "application/json" },
                body: JSON.stringify({
                    "_csrf": token
                })
            }).then((res) => {
                if (res.ok) {
                    window.location=document.referrer
                }
            }).catch((err) => console.error(err))
        }
        function joinSession(id) {
            fetch(`/joinSession/${id}`, {
                method: "put",
                headers: { "Content-Type": "application/json" },
                body: JSON.stringify({
                    "_csrf": token
                })
            }).then((res) => {
                if (res.ok) {
                    window.location.reload()
                }
            }).catch((err) => console.error(err))
        }
        function leaveSession(id) {
            fetch(`/leaveSession/${id}`, {
                method: "put",
                headers: { "Content-Type": "application/json" },
                body: JSON.stringify({
                    "_csrf": token
                })
            }).then((res) => {
                if (res.ok) {
                    window.location.reload()
                }
            }).catch((err) => console.error(err))
        }
        function removePlayer(id,playerName) {
            var token = document.querySelector('meta[name="csrf-token"]').getAttribute("content");
            fetch(`/removePlayer/${id}`, {
              method: "put",
              headers: { "Content-Type": "application/json" },
              body: JSON.stringify({
                _csrf: token,
                playerName:playerName,
              }),
            })
              .then((res) => {
                if (res.ok) {
                    window.location.reload();
                }
              })
              .catch((err) => console.error(err));
            }
    
    </script>
    <title><%=title %></title>
</head>
<body class="bg-green-100">
    <div class="grid grid-cols-5">
        <div class="col-start-2 col-span-3">
            <div class="py-5">
                <h1 class="text-2xl font-semibold text-gray-600"><%=sportName %> Session #<%=sessionId %></h1>
            </div>
            <div class="rounded w-fit px-2 py-1 flex gap-2 cursor-pointer hover:text-600">
                <a onclick="deleteSession(<%= sessionId %>)" class="text-white bg-red-600 hover:bg-red-800 font-medium rounded px-3 py-1.5 justify-right">Delete Session</a>
            </div>
            <div class="py-3">
                <h3>This session is scheduled for <%= sessionTime %>, to be played at "<%=sessionVenue%>" </h3>
            </div>
            <div class="py-3">
                <h2>Players in session are:</h2>
            </div>
            <div class="flex">
                <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-2 p-2">
                            <% for(var i=0;i<players.length;i++) {%>
                                    <div class="bg-green-100 text-grey-500 text-lg font-semibold text-left p-2 rounded-lg">
                                        <label><%= players[i] %></label>
                                        <a href="#" class="trash-icon cursor-pointer ml-2" onclick='removePlayer(<%= sessionId %>,"<%=players[i] %>")'>
                                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4">
                                              <path stroke-linecap="round" stroke-linejoin="round" d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
                                            </svg> 
                                        </a>
                                    </div> 
                            <%} %>
                </div>
            </div>
            <div class="relative inline-block py-3 flex-auto cursor-pointer justify-center space-x-1">
                          <a onclick="joinSession(<%=sessionId%>)" class="text-white bg-green-600 hover:bg-green-800 font-medium rounded px-3 py-1.5 justify-right hover:underline hover:text-gray-600">Join</a>
                          <a  onclick="leaveSession(<%=sessionId%>)" class="text-white bg-red-600 hover:bg-red-800 font-medium rounded px-3 py-1.5 justify-right hover:underline hover:text-gray-600">Leave</a>   
            </div> 
        </div>
    </div>
   
</body>
</html>