<div>
    <h6 class="text-red-600">
        <%= (session.length==0)?"No Sports sessions":"" %>
    </h6>
</div>
<ul class="bg-white-100 list-none">
    <% for (let i=0; i<session.length; i++) {%>
        <li>
            <div class="flex w-fit my-2 px-2 py-1 items-center bg-green-50 hover:bg-slate-300 rounded">
                <a href="/session/<%=session[i].id %>" > <b>Session #<%= i+1 %></b><br> 
                <span>
                    <b>Venue:</b><%=session[i].venue%>
                </span><br>
                <span>
                    <b>Date:</b> <%=session[i].time %>
                </span><br>
                <span class="text-red-500">
                    <%=session[i].playersNeeded%> slots available!
                </span><br>
                <% if(session[i].status==="cancelled" && session[i].participants.includes(playerName)) {%>
                    <span>
                        <b>This session has been cancelled due to reason:<%=session[i].reason%></b>
                    </span>
                <%} %>
                
            </a>
                
            </div>
        </li>
    <% } %>
</ul>