<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="./css/styles.css" rel="stylesheet">
    <title>
        <%= title %>
    </title>
</head>
<body class="bg-green-100">
    <div>
        <%- include("header.ejs") %>
    </div>
    <div class="container mt-20">
        <div class="grid grid-cols-4">
            <div class="col-start-2 col-span-2">
                <b class="text-xl text-gray-600">Welcome <%= playerName %></b>
                <% if (userRole === 'admin'){ %>
                    <div class="py-3">
                        <a href="/createSport" class="hover:underline text-gray-900"> Create a New Sport</a>
                    </div>
                    <div class="py-2">
                        <a href="/reports" class="hover:underline">View Reports</a>
                    </div>
                    <div class="py-3">
                        <h2 class="font-semibold">Available Sports are:</h2>
                        <%- include("createdSportsList.ejs") %>
                    </div>
                <%} else{%>
                    <div class="py-3">
                        <h2 class="font-semibold">Available Sports are:</h2>
                        <%- include("createdSportsList.ejs") %>
                    </div>
                <%}%>
                <div class="py-3">
                    <h2 class="font-semibold">Your upcoming sessions are:</h2>
                    <%- include("sessionList.ejs",{session:upcomingSessions}) %>
                </div>
                <div class="py-3">
                    <h2 class="font-semibold">Joined sessions are:</h2>
                    <%- include("sessionList.ejs",{session:joinedSessions}) %>
                </div>
                <div class="py-3">
                    <h2 class="font-semibold">Sessions you cancelled are:</h2>
                    <%- include("sessionList.ejs",{session:playerCancelledSessions,playerName:playerName}) %>
                </div>
            </div> 
        </div>
    </div>
    
</body>
</html>